body, .ionic-body, html, 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, 
.tab-item, input, button, select, textarea  { font-family: 'Ubuntu Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif; }

.text-center { text-align: center; }
.text-top { padding-top: 5px; }
.text-value { color: #000; }
.button-value { line-height: 46px; font-size: 28px; }
.ion-highlighted a{ background-color: lightblue !important; }

.ion-nation-image { width: 30px; height: 30px; position: absolute; top: 20px; right: 18px; }
.ion-record-text { position: absolute; top: -10px; right: 18px; }
.ion-position-text { position: absolute; bottom: 5px; right: 10px; }
.ion-trophies { position: absolute; bottom: 0; right: 12px; }
.ion-custom-trophy { float: right; text-align: center; margin: 0 5px; }
.ion-custom-trophy img { width: 24px; height: 24px; }
.ion-custom-trophy p { font-size: 10px; }

.ion-Serie-A { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Serie_A.png') no-repeat center center; background-size: 24px; }
.ion-Europa-League { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Europa_League.png') no-repeat center center; background-size: 24px; }
.ion-Champions-League { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Champions_League.png') no-repeat center center; background-size: 24px; }
.ion-Coppa-Italia { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Coppa_Italia.png') no-repeat center center; background-size: 24px; }
.ion-Supercoppa-Italiana { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Supercoppa_Italiana.png') no-repeat center center; background-size: 24px; }

.item-tabs { padding: 0; }
.item-tabs .tabs { position: relative; }