body, .ionic-body, html, 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, 
.tab-item, input, button, select, textarea  { font-family: 'Ubuntu Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif; }

a { text-decoration: none !important; }

ion-content { background-color: #2e98d2; }
.napoli {color: #2e98d2; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }
.text-top { padding-top: 5px; }
.text-value { color: #000; }
.button-filter a { font-size: 14px; padding: 0 4px !important; }
.button-value { line-height: 46px; font-size: 28px; }
.ion-highlighted a{ background-color: #ADD8E6 !important; }
.card { margin: 10px !important; }
.card.flat-card { padding: 0; }
.card.isRecord { outline: 5px solid greenyellow; }
.card > h3 { font-size: 16px; }
.card-title, .card-subtitle { padding: 5px !important; }
.card-title h2, .card-subtitle h2 { font-weight: bold; }
.card.with-title { margin: 40px 10px 10px 10px !important; position: relative; overflow: visible; }
.card.with-title .item.card-title { position: absolute; top: -26px; left: 0; min-width: 125px; }
.card.with-title .item.card-subtitle { position: absolute; bottom: 26px; right: 0; min-width: 90px; }
.card.with-title .item-match { border-top: 0; }
.card.with-title.event-container { max-height: 74px; }
.padding-side { padding-left: 10px; padding-right: 10px;}
.item-avatar.item-logo > img:first-child { border-radius: 0; }
.item-complex.item-icon-left .item-content { text-align: left; }
.item-divider { font-weight: bold; }
.ion-log-in { border: 1px solid gray; }

.ion-nation-image { width: 30px; height: 30px; position: absolute; top: 20px; right: 18px; }
.ion-record-text { position: absolute; top: -10px; right: 18px; }
.ion-recordman-text { font-size: 24px !important; }
.ion-recordman-text.cn-longtext { font-size: 14px !important; }
.ion-primacy-text { position: absolute; top: 6px; right: 10px; font-size: 24px !important; }
.ion-position-text { position: absolute; bottom: 5px; right: 10px; }
.ion-trophies { position: absolute; bottom: 0; right: 12px; }
.ion-custom-trophy { float: right; text-align: center; margin: 0 5px; }
.ion-custom-trophy img { width: 24px; height: 24px; }
.ion-custom-trophy p { font-size: 10px; }

.ion-Serie-A { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Serie_A.png') no-repeat center center; background-size: 24px; }
.ion-Europa-League { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Europa_League.png') no-repeat center center; background-size: 24px; }
.ion-Champions-League { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Champions_League.png') no-repeat center center; background-size: 24px; }
.ion-Coppa-Italia { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Coppa_Italia.png') no-repeat center center; background-size: 24px; }
.ion-Supercoppa-Italiana { background: url('http://www.10maggio87.it/Images/Assets/Loghi/Trofei/Supercoppa_Italiana.png') no-repeat center center; background-size: 24px; }

.item-tabs { padding: 0; }
.item-tabs .tabs { position: relative; }

.item-match .item-content { height: 50px; padding: 0;}
.item-match .item-match-teams { position: absolute; left: 55px; top: 5px; }
.item-match .item-match-logo-opponent { position: absolute; right: 50px; top: 13px; width: 28px; }
.item-match .item-match-result { position: absolute; right: 12px; top: 16px; font-size: 24px; }
.item-match .item-match-result-long { position: absolute; right: 12px; top: 10px; font-size: 24px; }
.item-match .item-match-result-dcr { position: absolute; right: 18px; top: 30px; font-size: 12px; }
.item-match .item-match-date { position: absolute; left: 15px; top: 25px; color: #AAA; font-size: 13px; }
.item-match .item-match-logo-competition { position: absolute; left: 15px; top: 3px; width: 24px; }

.item-scoreboard { min-height: 50px; height: 50px; }
.item-scoreboard .item-photo-player { top: 5px !important; }
.item-scoreboard .item-content { padding: 5px 72px 5px 72px !important; }
.item-scoreboard .item-vote { position: absolute; top: 15px; right: 10px; width: 30px; text-align: center; font-size: 20px; font-weight: bold; }
.item-scoreboard .item-info { position: absolute; top: 15px; right: 50px; }
.item-scoreboard .item-info img { width: 16px; margin-left: 3px; }
.item-scoreboard .item-sub-in { position: absolute; top: 5px; left: 50px; }
.item-scoreboard .item-sub-out { position: absolute; top: 5px; left: 15px; }
.item-scoreboard.ion-best .item-content { background-color: #EEE8AA; }
.item-scoreboard.ion-worst .item-content { background-color: #FFDAB9; }

.item-html { font-size: 14px !important; }
.item-source { width: 100%; }
.item-source .item-source-image { margin-left: 20%; width: 60%; }

.item-news { padding: 1px; display: inline-block; border: none; }
.item-news img { float: left; width: 30%;}
.item-news .item-tag { float: left; margin-left: 2%; width: 33%;}
.item-news .item-date { float: left; margin-right: 2%; width: 33%;}
.item-news h2 { float: left; width: 66%; margin-left: 2%; font-weight: bold; font-size: 14px; }

.item-news-card { padding: 1px; display: inline-block; border: none; margin-bottom: 10px; width: 100%; }
.item-news-card a div { position: relative; }
.item-news-card a div .item-photo-news { width: 100%; }
.item-news-card a div .item-source { position: absolute; right: 10px; bottom: 10px; width: 30%; }
.item-news-card h2 { float: left; width: 100%; padding: 5px; font-weight: bold; font-size: 14px; }
.item-news-card h3 { float: left; width: 100%; padding: 2px 5px; font-weight: bold; font-size: 12px; }
.item-news-card img.full-width { float: left; width: 100%;}

.item-teamlogo { width: 20%; margin-left: 40%; margin-bottom: 10px; }

.item-shirt { width: 280px; height: 260px; background: url('http://www.10maggio87.it/Images/Assets/Sponsor/Maglia.png') top center no-repeat transparent; position: relative; left: 0; top: 0; margin: 0 auto; }
.item-shirt img { position: absolute; }
.item-shirt img.sponsor { top: 90px; left: 95px; width: 90px; }
.item-shirt img.Diadora { top: 70px; left: 114px; width: 60px; }
.item-shirt img.Macron { top: 70px; left: 84px; width: 60px; }
.item-shirt img.Linea { top: 55px; left: 150px; width: 45px; }
.item-shirt img.nr { top: 60px; left: 162px; width: 30px; }
.item-shirt img.Umbro { top: 55px; left: 84px; width: 45px; }
.item-shirt img.Lotto { top: 55px; left: 84px; width: 45px; }
.item-shirt img.Nike { top: 60px; left: 90px; width: 40px; }
.item-shirt img.Legea { top: 68px; left: 114px; width: 55px; }
.item-shirt img.Kappa { top: 60px; left: 90px; width: 40px; }
.item-shirt img.nessuno { top: 60px; left: 160px; width: 25px; }

.item-event { border: none; padding: 1px; height: 72px; }
.item-event:nth-child(odd) { background-color: #EEE; }
.item-event .image-preview { width: 30%; height: 70px; float: left; background-size: cover; background-position: center center; }
.item-event .event-preview { width: 70%; float: left; }
.item-event .event-preview .item-channel { float: left; width: 100%; margin: 3px 0; }
.item-event .event-preview .item-info-event { float: left; width: 50%; margin: 3px 0; }
.item-event .event-preview h2 { float: left; width: 100%; text-align: center; font-weight: bold; font-size: 14px; }

.item-ranking { padding: 5px; }
.item-ranking div { display: inline-block; font-weight: bold; }
.item-ranking.titles { background-color: #EEE8AA; }
.item-ranking.napoli { background-color: #ADD8E6; color: #000; }
.item-ranking .team-position { width: 8%; }
.item-ranking .team-image { width: 10%; }
.item-ranking .team-image img { width: 25px; vertical-align: middle; }
.item-ranking .team-name { width: 40%; margin-left: 10px; }
.item-ranking .team-points { width: 8%; }
.item-ranking .team-goals { width: 8%; font-weight: normal;  }
.item-ranking .team-goals-diff { width: 8%; font-weight: normal; }

.item-fixtures .card-title { background-color: #EEE8AA; padding: 3px 0 6px 0 !important; }
.item-fixtures .item-fixture { padding: 5px; }
.item-fixtures .item-fixture div { display: inline-block; font-weight: bold; }
.item-fixtures .item-fixture.titles { background-color: #EEE8AA; }
.item-fixtures .item-fixture.napoli { background-color: #ADD8E6; color: #000; }
.item-fixtures .item-fixture .team-result { width: 10%; }
.item-fixtures .item-fixture .team-image { width: 10%; }
.item-fixtures .item-fixture .team-image img { width: 25px; vertical-align: middle; }
.item-fixtures .item-fixture .team-name { width: 33%; }

.item-error img.full-image { width: 100%; }
.item-error img.middle-image { width: 50%; margin-left: 25%; margin-top: 20px; margin-bottom: 20px;}

.icon.icon-rosa { background: url('http://www.10maggio87.it/Images/Layout/Icons/rosa.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-notizie { background: url('http://www.10maggio87.it/Images/Layout/Icons/notizie.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-calendario { background: url('http://www.10maggio87.it/Images/Layout/Icons/calendario.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-primati { background: url('http://www.10maggio87.it/Images/Layout/Icons/primati.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-calciomercato { background: url('http://www.10maggio87.it/Images/Layout/Icons/calciomercato.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-media-reti { background: url('http://www.10maggio87.it/Images/Layout/Icons/media-reti.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-reti { background: url('http://www.10maggio87.it/Images/Layout/Icons/reti.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-panchine { background: url('http://www.10maggio87.it/Images/Layout/Icons/panchine.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-presenze { background: url('http://www.10maggio87.it/Images/Layout/Icons/presenze.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-reti-anno { background: url('http://www.10maggio87.it/Images/Layout/Icons/reti-anno.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-presenze-anno { background: url('http://www.10maggio87.it/Images/Layout/Icons/presenze-anno.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-stagioni { background: url('http://www.10maggio87.it/Images/Layout/Icons/stagioni.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-ricerca { background: url('http://www.10maggio87.it/Images/Layout/Icons/ricerca.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-eventi { background: url('http://www.10maggio87.it/Images/Layout/Icons/eventi.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-champions { background: url('http://www.10maggio87.it/Images/Layout/Icons/champions.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-serie-a { background: url('http://www.10maggio87.it/Images/Layout/Icons/serie-a.svg') no-repeat center; width: 32px; background-size: 32px; }
.icon.icon-nuova { background: url('http://www.10maggio87.it/Images/Layout/Icons/nuova.svg') no-repeat center; width: 32px; background-size: 32px; right: 11px; left: initial; }

.icon.icon-nuova-inline { background: url('http://www.10maggio87.it/Images/Layout/Icons/nuova.svg') no-repeat center; min-width: 32px; min-height: 32px; float: right; margin-top: -5px; }
    
.button.button-assertive { border-color: #2e98d2; background-color: #041e3b; color: #fff; }
.button.button-assertive.active, .button.button-assertive.activated { border-color: #2e98d2; background-color: #2e98d2; }

.swiper-slide  { background-color:  #2e98d2; text-align: center; min-height: 100px; }
.swiper-slide a { text-decoration: none; }
.swiper-slide a h3 { margin: 20px 0 5px 0; color: #fff; }
.swiper-slide a h4 { margin: 0 0 10px 0; color: #fff; }
.slider-button-prev.swiper-button-disabled { display: none; }
.slider-button-next.swiper-button-disabled { display: none; }