<ion-view view-title="Elenco Primati" ng-cloak>
    <ion-content>
        <ion-refresher on-refresh="getPrimates()"
                       pulling-text="Aggiorna"
                       refreshing-text="Caricamento ..."
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="card" ng-repeat="primacy in primates" ng-class="{ 'isRecord' : isRecord(primacy) }">
            <div class="item item-text-wrap" ng-bind-html="primacy.Description | makeitbold : bolds | toTrusted">
            </div>
            <ion-item class="item item-avatar" ng-href="{{getLink(primacy.Type, primacy.Recordman)}}">
                <img ng-if="primacy.Type=='Giocatore'" ng-src="http://www.10maggio87.it/Images/Assets/Foto/{{primacy.Recordman.split(' - ')[0]}}.jpg" />
                <img ng-if="primacy.Type!='Giocatore'" ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Squadre/Napoli/{{primacy.Recordman.split(' - ')[0]}}.png" />
                <h2 ng-class="{'cn-longtext': primacy.Recordman.split(' - ').length > 2}" class="ion-recordman-text">{{primacy.Recordman}}</h2>
                <h1 class="ion-primacy-text">{{displayPrimacy(primacy.Type, primacy.Record)}}</h1>
                <p class="ion-position-text">Storia</p>
                <!--<img class="ion-record-image" ng-src="http://www.10maggio87.it/Images/Assets/Bandiere/Italia.png" />-->
            </ion-item>
            <ion-item class="item item-avatar" ng-href="{{getLink(primacy.Type, primacy.ActualRecordman)}}">
                <img ng-if="primacy.Type=='Giocatore'" ng-src="http://www.10maggio87.it/Images/Assets/Foto/{{primacy.ActualRecordman.split(' - ')[0]}}.jpg" />
                <img ng-if="primacy.Type!='Giocatore'" ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Squadre/Napoli/{{primacy.ActualRecordman.split(' - ')[0]}}.png" />
                <h2 class="ion-recordman-text">{{primacy.ActualRecordman}}</h2>
                <h1 class="ion-primacy-text">{{displayPrimacy(primacy.Type, primacy.ActualRecord)}}</h1>
                <p class="ion-position-text">Ultima Stagione</p>
                <!--<img class="ion-record-image" ng-src="http://www.10maggio87.it/Images/Assets/Bandiere/Italia.png" />-->
            </ion-item>
        </div>
    </ion-content>
</ion-view>