<ion-view hide-back-button="true" view-title="10maggio87.it" ng-cloak>
    <ion-content>
        <div class="card item-error" ng-show="errorCode == 0">
            <div class="item item-text-wrap">
                Benvenuto nella nostra app ufficiale
            </div>
            <img src="http://www.10maggio87.it/Images/Layout/10maggio87.png" class="middle-image" />
            <div class="row">
                <div class="col-50 col-offset-25">
                    <a class="button button-block icon-right ion-log-in" ng-click="login()">
                        Entra
                    </a>
                </div>
            </div>
            <div class="item item-text-wrap">
                Speciale Calciomercato <i class="icon icon-nuova-inline"></i>
            </div>
            <div class="item item-text-wrap">
                Eventi in Programma <i class="icon icon-nuova-inline"></i>
            </div>
        </div>
        <div class="card item-error" ng-show="errorCode == 401">
            <div class="item item-text-wrap">
                Bentornato nella nostra app ufficiale
            </div>
            <img src="http://www.10maggio87.it/Images/Layout/10maggio87.png" class="middle-image" />
            <div class="row">
                <div class="col-50 col-offset-25">
                    <a class="button button-block icon-right ion-loop" ng-click="login()">
                        Entra
                    </a>
                </div>
            </div>
        </div>
        <div class="card item-error" ng-show="errorCode == 500">
            <img src="http://www.10maggio87.it/Images/Layout/10maggio87.png" class="middle-image" />
            <div class="row">
                <div class="col-50 col-offset-25">
                    <a class="button button-block icon-right ion-log-in" ng-click="login()">
                        Connetti
                    </a>
                </div>
            </div>
            <div class="item item-assertive">{{errorCode + ': '+ message}}</div>
        </div>
    </ion-content>
</ion-view>

