<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">10maggio87.it</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close ng-href="#/app/news/last" class="item-icon-left">
                    <i class="icon icon-notizie"></i>Notizie
                </ion-item>
                <ion-item nav-clear menu-close ng-href="#/app/events" class="item-icon-left">
                    <i class="icon icon-eventi"></i>Eventi<i class="icon icon-nuova"></i>
                </ion-item>
                <ion-item nav-clear menu-close ng-href="#/app/season/2015-16" class="item-icon-left">
                    <i class="icon icon-rosa"></i>Rosa
                </ion-item>
                <ion-item nav-clear menu-close ng-href="#/app/calendar/2015-16" class="item-icon-left">
                    <i class="icon icon-calendario"></i>Calendario
                </ion-item>
                <ion-item nav-clear menu-close ng-href="#/app/transfers" class="item-icon-left">
                    <i class="icon icon-calciomercato"></i>Calciomercato<i class="icon icon-nuova"></i>
                </ion-item>
                <div class="item item-divider">
                    Ricerca
                </div>
                <ion-item nav-clear menu-close href="#/app/search/players" class="item-icon-left">
                    <i class="icon icon-ricerca"></i>Giocatori
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/search/managers" class="item-icon-left">
                    <i class="icon icon-ricerca"></i>Allenatori
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/search/teams" class="item-icon-left">
                    <i class="icon icon-ricerca"></i>Squadre Avversarie
                </ion-item>
                <div class="item item-divider">
                    Statistiche e Record
                </div>
                <ion-item nav-clear menu-close href="#/app/primates" class="item-icon-left">
                    <i class="icon icon-primati"></i>Primati assoluti
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/record/13" class="item-icon-left">
                    <i class="icon icon-reti"></i>Classifica Marcatori
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/record/14" class="item-icon-left">
                    <i class="icon icon-presenze"></i>Classifica Presenze
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/record/22" class="item-icon-left">
                    <i class="icon icon-panchine"></i>Classifica Panchine
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/record/23" class="item-icon-left">
                    <i class="icon icon-media-reti"></i>Media Reti per Partita
                </ion-item>
                <div class="item item-divider">
                    Storia
                </div>
                <ion-item nav-clear menu-close href="#/app/seasons" class="item-icon-left">
                    <i class="icon icon-stagioni"></i>Stagioni
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/record/24" class="item-icon-left">
                    <i class="icon icon-reti-anno"></i>Marcatori per Anno
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/record/25" class="item-icon-left">
                    <i class="icon icon-presenze-anno"></i>Presenze per Anno
                </ion-item>
                <!--<ion-item nav-clear menu-close href="#/app/browse" class="item-icon-left">
                    Browse
                </ion-item>
                <ion-item nav-clear menu-close ng-href="#/app/news/last" class="item-icon-left">
                    <i class="icon ion-stats-bars napoli"></i>Statistiche
                </ion-item>
                <ion-item nav-clear menu-close ng-click="login()" class="item-icon-left">
                    Login
                </ion-item>-->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

