<ion-view view-title="Ultime News" ng-cloak>
    <ion-content>
        <div class="card">
            <ul class="list">
                <li class="item item-text-wrap item-news-card" ng-repeat="news in newsList">
                    <a ng-href="#/app/news/id/{{news.Id}}">
                        <img ng-src="{{news.Image}}" />
                        <h2 class="text-center">{{news.Title}}</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="button-bar button-filter">
            <a class="button button-assertive button-full" ng-show="newsList.length == newsLoaded" ng-click="getNews(newsLoaded + 10)">Altre notizie</a>
        </div>
    </ion-content>
</ion-view>