<ion-view view-title="Bacheca" ng-cloak>
    <ion-content>
        <ion-refresher on-refresh="getNews(newsLoaded)"
                       pulling-text="Aggiorna"
                       refreshing-text="Caricamento ..."
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="card" ng-if="match">
            <div class="item card-title">
                <h2 class="text-center text-top">Prossima Partita</h2>
            </div>
            <ion-item class="item-match" ng-href="#/app/match/{{match.Id}}">
                <span class="item-match-teams text-left">{{match.Teams}}</span>
                <span class="item-match-date text-left">{{match.Date | date:'EEEE d MMMM yyyy'}}{{ {true: '', false: ' - ore ' + (match.Time | date:'HH:mm')}[(match.Time | date:'HH:mm') == '00:00'] }}</span>
                <img class="item-match-logo-opponent" ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Squadre/{{match.Opponent}}.png" />
                <span class="item-match-result text-center" ng-if="match.Result != ''">{{match.Result}}</span>
                <img class="item-match-logo-competition" ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Mini/{{match.Competition.split(' ').join('_')}}.png" />
            </ion-item>
        </div>
        <div class="card">
            <div class="item card-title">
                <h2 class="text-center text-top">Ultime Notizie</h2>
            </div>
            <ul class="list">
                <li class="item item-text-wrap item-news-card" ng-repeat="news in newsList">
                    <a ng-href="#/app/news/id/{{news.Id}}">
                        <div>
                            <img class="item-photo-news" ng-src="{{news.Image}}" />
                            <img class="item-source" ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Fonti/{{news.Source}}.png" />
                        </div>
                        <h2 class="text-center">{{news.Title}}</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="button-bar button-filter">
            <a class="button button-assertive button-full" ng-show="newsList.length == newsLoaded" ng-click="getNews(newsLoaded + 10)">Altre notizie</a>
        </div>
    </ion-content>
</ion-view>