<ion-view view-title="Bacheca" ng-cloak>
    <ion-content>
        <ion-refresher on-refresh="getNews(newsLoaded)"
                       pulling-text="Aggiorna"
                       refreshing-text="Caricamento ..."
                       refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="card with-title" ng-if="match && !showEvent">
            <div class="item card-title">
                <h2 class="text-center">Ultima Partita</h2>
            </div>
            <ion-item class="item-match" ng-href="#/app/match/{{match.Id}}">
                <span class="item-match-teams text-left">{{match.Teams}}</span>
                <span class="item-match-date text-left">{{match.Date | date:'EEEE d MMMM yyyy'}}{{ {true: '', false: ' - ore ' + (match.Time | date:'HH:mm')}[(match.Time | date:'HH:mm') == '00:00'] }}</span>
                <img class="item-match-logo-opponent" ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Squadre/{{match.Opponent}}.png" />
                <span class="item-match-result text-center" ng-if="match.Result != ''">{{match.Result}}</span>
                <img class="item-match-logo-competition" ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Mini/{{match.Competition.split(' ').join('_')}}.png" />
            </ion-item>
        </div>
        <div class="card with-title event-container" ng-if="event && showEvent">
            <div class="item card-title">
                <h2 class="text-center">Prossimo Evento</h2>
            </div>
            <div class="item item-text-wrap item-event">
                <a ng-href="#/app/events">
                    <div class="event-preview">
                        <p class="item-channel text-center">{{event.Date | dayFilter}}</p>
                        <h2 class="text-justify">{{event.Title}}</h2>
                        <p class="item-info-event text-center">{{event.Tag}}</p>
                        <p class="item-info-event text-center">{{event.Channel}}</p>
                    </div>
                    <div class="image-preview" ng-style="{'background-image': 'url(' + event.Image + ')'}"></div>
                </a>
            </div>
        </div>
        <!--<div class="card with-title">
            <div class="item card-title">
                <h2 class="text-center">10maggio87.it TV</h2>
            </div>
            <div class="item-video">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fnapolifanzone%2Fvideos%2F921701021293481%2F&show_text=0" ng-style="{'width': videoWidth, 'height': videoHeight}" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                <h2 class="text-center">Pepe Reina ai microfoni di Mediaset nel post Napoli-Dinamo Kiev</h2>
            </div>
        </div>-->
        <div class="card with-title">
            <div class="item card-title">
                <h2 class="text-center">Ultime Notizie</h2>
            </div>
            <ul class="list">
                <li class="item item-text-wrap item-news-card" ng-repeat="news in newsList">
                    <a ng-href="#/app/news/id/{{news.Id}}">
                        <div>
                            <img class="item-photo-news" ng-src="{{news.NewsImage}}" />
                            <img class="item-source" ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Fonti/{{news.Source}}.png" />
                        </div>
                        <h2 class="text-center">{{news.Title}}</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="button-bar button-filter">
            <a class="button button-assertive button-full" ng-show="newsList.length == newsLoaded" ng-click="getNews(newsLoaded + 10)">Altre notizie</a>
        </div>
    </ion-content>
</ion-view>