<ion-view view-title="Scheda Giocatore">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="http://www.10maggio87.it/Images/Assets/Foto/{{player.Profile.Tag}}.jpg">
                <h2>{{player.Profile.Name}}</h2>
                <p>{{player.Profile.Position | position}}</p>
                <img class="ion-player-image" ng-src="http://www.10maggio87.it/Images/Assets/Bandiere/{{player.Profile.Nation}}.png">
            </div>
            <div class="item item-text-wrap">
                <img class="full-image" ng-src="http://www.10maggio87.it/Images/Assets/Copertine/Giocatori/2015-16/{{player.Profile.Tag}}.jpg">
                <h2 class="text-center text-top">Dati Personali</h2>
                <p>Nazionalità: <span class="text-value">{{player.Profile.Nation}}</span></p>
                <p>Nato a: <span class="text-value">{{player.Profile.PlaceOfBirth}}</span></p>
                <p>Il: <span class="text-value">{{player.Profile.DateOfBirth | date:'dd/MM/yyyy'}}</span></p>
                <div class="ion-trophies">
                    <div class="ion-custom-trophy" ng-repeat="trophy in player.Trophies">
                        <img ng-src="http://www.10maggio87.it/Images/Assets/Loghi/Trofei/{{trophy.Competition.split(' ').join('_')}}.png" />
                        <p>{{trophy.Year}}</p>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="button-bar">
                    <a class="button button-positive icon-left button-value ion-ios-list-outline">{{player.Career.SeasonsTot}}</a>
                    <a class="button button-positive icon-left button-value ion-tshirt">{{player.Career.AppearancesTot}}</a>
                    <a class="button button-positive icon-left button-value ion-ios-football">{{player.Career.GoalsTot}}</a>
                </div>
                <h2 class="text-center text-top">Riepilogo Stagioni</h2>
                <div class="row">
                    <div class="col col-20 text-center"><h5>Anno</h5></div>
                    <div class="col col-20 text-center"><h5>Totale</h5></div>
                    <div class="col col-20 text-center"><h5>Campionato</h5></div>
                    <div class="col col-20 text-center"><h5>Europa</h5></div>
                    <div class="col col-20 text-center"><h5>Altre Coppe</h5></div>
                </div>
                <div class="row item" ng-repeat="appearance in player.Career.Appearances">
                    <div class="col col-20 text-center">{{appearance.Year}}</div>
                    <div class="col col-20 text-center"><p>{{appearance.AppearancesCa + appearance.AppearancesCi + appearance.AppearancesEu}} - {{appearance.GoalsCa + appearance.GoalsCi + appearance.GoalsEu}}</p></div>
                    <div class="col col-20 text-center"><p>{{appearance.AppearancesCa}} - {{appearance.GoalsCa}}</p></div>
                    <div class="col col-20 text-center"><p>{{appearance.AppearancesEu}} - {{appearance.GoalsEu}}</p></div>
                    <div class="col col-20 text-center"><p>{{appearance.AppearancesCi}} - {{appearance.GoalsCi}}</p></div>
                </div>
                <div class="row item">
                    <div class="col col-20 text-center"></div>
                    <div class="col col-20 text-center">{{player.Career.AppearancesTot}} - {{player.Career.GoalsTot}}</div>
                    <div class="col col-20 text-center">{{player.Career.AppearancesCaTot}} - {{player.Career.GoalsCaTot}}</div>
                    <div class="col col-20 text-center">{{player.Career.AppearancesEuTot}} - {{player.Career.GoalsEuTot}}</div>
                    <div class="col col-20 text-center">{{player.Career.AppearancesCiTot}} - {{player.Career.GoalsCiTot}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>