<ion-view view-title="Elenco Stagioni" ng-cloak>
    <ion-content>
        <div class="card">
            <div class="item card-title">
                <h2 class="text-center text-top">Stagioni</h2>
            </div>
            <ul class="list">
                <li class="item item-text-wrap item-news-card" ng-repeat="season in filtered = (seasons | orderBy : Year : true)">
                    <a ng-href="#/app/players/{{season.Year}}">
                        <img ng-src="http://www.10maggio87.it/Images/Assets/Squadre/{{season.Year}}.jpg" />
                        <h2 class="text-center">{{season.Year}} - {{season.Competition}}</h2>
                    </a>
                </li>
            </ul>
        </div>
</ion-content>
</ion-view>