<ion-view view-title="Rosa attuale" ng-cloak>
    <ion-slides options="sliderOptions" slider="playerSlider">
        <ion-slide-page ng-repeat="player in players">
            <ion-content>
                <a ng-href="#/app/player/{{player.Tag}}">
                    <h3>{{player.Name}}</h3>
                    <h4>#{{player.Shirt}} - {{player.Position | position}}</h4>
                    <img ng-src="http://www.10maggio87.it/Images/Assets/Copertine/Profili/{{player.Tag}}.jpg">
                    <h4>{{player.DateOfBirth | date:'dd/MM/yyyy'}} - {{player.DateOfBirth | ageFilter : season }} anni - {{player.Nation}}</h4>
                </a>
            </ion-content>
        </ion-slide-page>
    </ion-slides>

    <ion-footer-bar class="button-bar">
        <div class="buttons slider-button-prev" ng-click="previous()">
            <button class="button icon ion-arrow-left-a"></button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons slider-button-next" ng-click="next()">
            <button class="button icon ion-arrow-right-a"></button>
        </div>
    </ion-footer-bar>
</ion-view>